<!DOCTYPE html>
<html lang="en">
	<head>	
		<meta charset="utf-8">
		<title>Hello, <%= profile.displayName %></title>
	</head>
	<body>
		<h1>Your Group ID: <%= profile.groupid %></h1>
		<h2> Navigation <h2>
		<ul>
			<li> <a href="/adminBooking">View Booking By Admin</a></li>
			<li> <a href="/adminAddThings">Add Warning Or New User</a></li>
			<li> <a href="/adminBookRecord">View All Book Record</a></li>
			<li> <a href='/adminShowAllUsers'>View All User Info</a></li>
			<li> <a href='/adminRemoveUser'>Remove A User</a></li>
			<li> <a href='/adminNotify'>Send Notification To Users</a></li>
			<li> <a href='/adminIssueWarning'>Issue An Warning</a></li>

		<ul>
		<a href="/info">View General Info</a>
		<a href="/logout"> Logout </a>
	</body>
</html>