<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Hello, <%= profile.displayName %></title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link rel="stylesheet" href="/stylesheets/theme1/bootstrap.css" media="screen">
	<link rel="stylesheet" href="/stylesheets/theme1/custom.min.css">
	<!--[if lt IE 9]>
      <script src="../public/stylesheets/theme1/html5shiv.js"></script>
      <script src="../public/stylesheets/theme1/respond.min.js"></script>
      <![endif]-->
</head>
<body>
	<style>  
		.col-center-block {  
			float: none;  
			display: block;  
			margin-left: auto;  
			margin-right: auto;  
		}  
	</style>  
	<div class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href="/">RVRC BOOKING</a>
				<button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>
			<div id="navbar-main" class="navbar-collapse collapse">
				<ul class="nav navbar-nav navbar-right">
					<li>
						<a>Hi, <%= profile.displayName %></a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-lg-7 col-center-block">
			<h1>Your Group ID: <%= profile.groupid %></h1>
		<h2> Navigation <h2>
		<ul>
			<li> <a class="btn btn-default" href="/adminBooking">View Booking By Admin</a></li>
			<li> <a class="btn btn-default" href="/adminAddThings">Add Warning Or New User</a></li>
			<li> <a class="btn btn-default" href="/adminBookRecord">View All Book Record</a></li>
			<li> <a class="btn btn-default" href='/adminShowAllUsers'>View All User Info</a></li>
			<li> <a class="btn btn-default" href='/adminRemoveUser'>Remove A User</a></li>
			<li> <a class="btn btn-default" href='/adminNotify'>Send Notification To Users</a></li>
			<li> <a class="btn btn-default" href='/adminIssueWarning'>Issue An Warning</a></li>

		<ul>
		<br> </br>
		<a class="btn btn-primary" href="/info">View General Info</a>
		<a class="btn btn-primary" href="/logout"> Logout </a>
			</div>
		</div>
		<footer>
			<div class="row">
				<div class="col-lg-12">
					<ul class="list-unstyled">
						<li class="pull-right">
							<a href="#top">Back to top</a>
						</li>
						<li>
							<a href="http://rvrc.nus.edu.sg">RVRC</a>
						</li>
						<li>
							<a href="http://feeds.feedburner.com/bootswatch">Contact Us</a>
						</li>
					</ul>
					<p>
						Theme made by
						<a href="http://thomaspark.co" rel="nofollow">Thomas Park</a>
						.
					</p>
					<p>
						Code released under the
						<a href="https://github.com/thomaspark/bootswatch/blob/gh-pages/LICENSE">MIT License</a>
						.
					</p>
				</div>
			</div>	
		</footer>
	</div>
	<script src="/stylesheets/theme1/jquery-1.10.2.min.js"></script>
	<script src="/stylesheets/theme1/bootstrap.min.js"></script>
	<script src="/stylesheets/theme1/custom.js"></script>
</body>
</html>