<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <form id="myform" action="/auth/openid" method="post">
        <div>
            <input type="text" name="openid_identifier" value='https://openid.nus.edu.sg' hidden/><br/>
            <a class="navbar-brand page-scroll" href="#" onclick="document.getElementById('myform').submit()">Login With Your NUSID</a>
        </div>
    </form>
   </body>
</html>
