<html>
  <head>
    <title>Item Added</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <a href="/admin">Go To Admin Page</a>


    <p> The following item has been added: </p>
    <ul>
      <li>Item Type: <%= itemType %></li>
      <li>Item Value: <%= itemValue %></li>
    </ul>


  </body>
</html>