<html>
  <head>
    <title>Removal Done</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <a href="/admin">Go To Admin Page</a>


    <p> The following users have been removed: </p>
    <ul>
    <!-- <% for (var i = 0; i < useridArr; i++) { %>
    	<li> <%= useridArr[i] %> </li>
    <% } %>

    or below: see which one works; pls remove a few at the same time; -->

      <li> <%= useridArr</li>
    </ul>


  </body>
</html>