<html>
  <head>
    <title>Warning Sent</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <a href="/admin">Go To Admin Page</a>

    <p> The warning has been issued. </p>
    <p> Your warning report has been sent to: </p>
    <ul>
   <!--  <% for (var i = 0; i < recipientArr; i++) { %>
    	<li> <%= recipientArr[i] %></li>
    <% } %>
    or see which one works -->
      <li> <%= recipientArr %> </li>
    </ul>


  </body>
</html>